################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/
/.vs/slnx.sqlite
/kaworu20220420.github.io-Luminaries-.url
