################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/
/.vs/slnx.sqlite
/kaworu20220420.github.io-Luminaries-.url
/Cover.avif
/88a92006ba3bf51c4346b41622d7006d_w.jpeg
/Amazon.co.jp- ルミナリーズ - エレノア・キャトン, 安達 まみ- 本.url
/Screenshot_2026-09-13-17-34-40-655_com.android.chrome.jpg
